

/*-------------------------------------------------------------------------commun aux 2 pages-----------------------------------------------------------------------------------*/

main{
    margin-left: 200px;
    margin-right: 200px;
}

/*barre bleue en haut commun aux deux pages*/
#main-header {
    background-color: #b1c2ed;
    padding-left: 200px;
    height: 220px;
}

#main-header > h1 {
    font-size: 64px;
    margin: 0;
    padding-top: 40px; 
    color: #ffffff;  
}

#main-header > h2 {
    font-size: 36px;
    margin: 0;
    padding-top: 10px;
    color: #17328f
}


/*menu de navigation*/
nav {
    background-color: #9C6B6B;
    padding-left: 200px;
    font-size: 30px;
    height: 50px;
    
}
nav > ul{
    margin-top: 0;
    padding-left: 0;
}

nav > ul > li{
    display: inline-block; 
    padding: 10px; 
}
/*boutons menu navigation*/
nav > ul > li > a{
color: #410101;
}

nav > ul > li > a:hover{
    color: #ffffff; 
    text-decoration: none;
}


/*articles des 2 pages*/
article{

    background-color: #c4c4c4;
    margin: 40px 0px 30px 0px;
    padding: 20px;
    width: 1125px;
    font-size: 16px;
    font-family: roboto;
}

/*titres commun aux 2 pages*/

h2{
    margin-bottom: 0;
}

h3{
    margin-top: 0;
}

/*-----------------------------------------------------------------Page d'accueil-------------------------------------------------------------------*/
/*image de fleurs*/
#fleur{
    width: 1500px;
    height: 438px;
    margin: 60px 0 0 200px;
}
/*menu à droite*/
aside{
    float: right;
    margin: 28px 200px 0 0;
} 

aside > ul{
    background-color: #b96767;
    color: #ffffff;
    height: 415px; 
    width: 290px;
    font-weight: bold;
    padding: 20px 20px 0 10px;
    font-size: 18px;
}

aside > ul > li > ul{
    font-weight: bold;
}

ul > li{
    list-style-type: none;
}

/*titres page d'accueil*/
.titre-article-pokefarm{
    font-size: 36px;
}

.sous-titre-article-accueil{
    font-size: 18px;
}

/*span premier article*/ 
#souligne{
    float: right;
    text-decoration: underline;
    font-weight: bold;
}

#bloc-centre > h3{
    text-align: center;
}

aside > h4{
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/*footer page d'accueil*/
#footer-accueil{
    background-color: #898989;
    text-align: center;
    padding: 40px;
    margin-top: 500px;
    clear: both;
}

/*Blocs gris du wrapper*/
#bloc-centre{
    height: 230px;
    width: 815px;
    padding: 15px 15px 0px 10px;
    margin: 0px 0px 0px 30px;
    float: left; 
}

#bloc-gauche{
    height: 400px;
    width: 300px; 
    float: left;
    background-color: #c4c4c4;
}

#bloc-droit{
    height: 400px;
    width: 300px; 
    float: right;
    background-color: #c4c4c4;
}


/*----------------------------------------------------------------Page nos pokemons--------------------------------------------------------------------------------------*/
/*main*/
#nospokemons{
    margin-bottom: 0;
}

/*bloc gris article*/
.article-pikachu{
    background-color: #c4c4c4;
    margin-left: 350px;
    width: 900px;
}

/*image pikachu*/
.pikachu{
    width: 344.4px;
    height: 370.8px;
    float: left;   
}

/*footer page Nos Pokemons*/
#footer-pikachu{
    background-color: #898989;
    text-align: center;
    padding: 40px;
    margin-top: 0px;
    clear: both;
}

/*titres page Nos Pokemons*/
.article-pikachu > h2 {
    font-size: 16px;
    font-weight: normal;
    }

.titre-pikachu {
    font-size: 36px;
    font-weight: bold;
}

.sous-titre-pikachu {
    font-size: 18px;
}

/*Liste de statistiques*/
.statistiques{
    list-style-type: none;
    margin: 0; 
    padding: 0;
}
    